<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='main.css'>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <nav id="navigation">
                <div id="inputNav">
                    <ul id="linksList">
                        <div id='nameContainer'>
                            <li><h1>Kesavan Shanmugasundaram</h1></li>
                            <li><h2>Technical Artist</h2></li>
                        </div>
                        <div id='linkContainer'>
                            <template v-for="r in headings">
                                <li><a v-bind:href="r.link">{{r.name}}</a></li>
                            </template>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        <div id='content'>
            <!--IMG PLCAEHOLDER GO HERE-->
            <h2>Projects</h2>
            <div id='imageGrid'>
                <div class="imgBox" v-for="(p,index) in projects">
                    <p>{{projects[index].name}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src='vue.js'></script>
</body>
</html>